
<!-- hero -->
<section class="hero hero-with-header ">
<div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
        rgba(0, 0, 0, 0.3),
        #161c1d  ),url(../../assets/cooodit/cover-2.jpg)"></div>
    <div class="container ">
    
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-decorated text-white"> Nos ateliers<b class="text-"> hebdomadaires </b></h1>
          <p class="text-white text-justify"> Nous proposons 5 ateliers hebdomadaires adaptés à l’âge et au niveau de chaque participant, 1h30 d’atelier par semaine, du lundi au vendredi, de janvier à juin. </p>
          
        </div>
      </div>
    </div>    
  </section>
  <!-- / hero -->
  <!-- features -->
  <section class="bg-light separator-top separator-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2><u><small>Ateliers : <b>primaire & collège</small></b></u></h2>
        </div>
      </div>
      <div class="row gutter-2 gutter-lg-4">
      <div class="col-md-12 col-lg-4 ">
      <div class="card card-price rising">
          <div class="card-body">
       
              <h5 class="card-title text-center"> <strong>Ateliers CE1 CE2 / CM1-CM2.</strong></h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <ul class="list-group list-group-minimal">
              <li class="list-group-item  align-items-center">
                <i class="icon-calendar2 fs-21 text-green"></i>
                <span><small class="text-black">Du mer. 22 jan. au merc. 24 juin.</small> </span>
              </li>
              <li class="list-group-item  align-items-center">
                <i class="icon-clock fs-21 text-green"></i>
                <span><small class="text-black">Les mercredis de 14h00 à 15h30.</small> </span>
              </li>
              <li class="list-group-item  align-items-center">
                <i class="icon-check-circle2 fs-21 text-green"></i>
                <span><small class="text-black">Inscription ouverte jusqu’au 20 janvier 2020.</small></span>
              </li>
              <li class="list-group-item  align-items-center">
                <i class="icon-money fs-21 text-green"></i>
                <span><small class="text-black">Possibilité d'étaler les paiements en 3 fois.</small></span>
              </li>
              <li class="list-group-item  align-items-center">
              <i class="icon-map-marker fs-21 text-green"></i>
                <span><small class="text-black">Campus de Pontoise.</small></span>
              </li>
            </ul>
          
            </div>
            
            <a href="<%=hebdo1_path%>" class="card-footer bg-cooodit">
                <strong class="text-white">TOUT SAVOIR </strong> 
              </a>
      </div>
    </div>
    <div class="col-md-12 col-lg-4 ">
        <div class="card card-price rising">
            <div class="card-body bg-yellow2">
         
                <h5 class="card-title text-center"> <strong> Ateliers 6E - 5E.</strong></h5>
                <br>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <ul class="list-group list-group-minimal">
              <li class="list-group-item  align-items-center">
                <i class="icon-calendar2 fs-21 text-green"></i>
                <span><small class="text-black">Du mer. 22 jan. au merc. 24 juin.</small> </span>
              </li>
             
              <li class="list-group-item align-items-center">
                <i class="icon-clock fs-21 text-green"></i>
                <span><small class="text-black">Les mercredis de 15h45 à 17h15.</small> </span>
              </li>
              <li class="list-group-item align-items-center">
                <i class="icon-check-circle2 fs-21 text-green"></i>
                <span><small class="text-black">Inscription ouverte jusqu’au 20 janvier 2020.</small></span>
              </li>
              <li class="list-group-item  align-items-center">
                <i class="icon-money fs-21 text-green"></i>
                <span><small class="text-black">Possibilité d'étaler les paiements en 3 fois.</small></span>
              </li>
              <li class="list-group-item  align-items-center">
              <i class="icon-map-marker fs-21 text-green"></i>
                <span><small class="text-black">Campus de Pontoise.</small></span>
              </li>
            </ul>
                  
              </div>
              
              <a href="<%=hebdo2_path%>" class="card-footer bg-cooodit">
                  <strong class="text-white">TOUT SAVOIR </strong> 
                </a>
        </div>
    </div>
    <div class="col-md-12 col-lg-4 ">
        <div class="card card-price rising">
            <div class="card-body ">
         
                <h5 class="card-title text-center"> <strong> Ateliers 4E - 3E.</strong></h5>
                <br>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <ul class="list-group list-group-minimal">
              <li class="list-group-item  align-items-center">
                <i class="icon-calendar2 fs-21 text-green"></i>
                <span><small class="text-black">Du mer. 22 jan. au merc. 24 juin.</small> </span>
              </li>
              
              <li class="list-group-item  align-items-center">
                <i class="icon-clock fs-21 text-green"></i>
                <span><small class="text-black">Les mercredis de 17h30 à 19h00.</small> </span>
              </li>
              <li class="list-group-item align-items-center">
                <i class="icon-check-circle2 fs-21 text-green"></i>
                <span><small class="text-black">Inscription ouverte jusqu’au 20 janvier 2020.</small></span>
              </li>
              <li class="list-group-item align-items-center">
                <i class="icon-money fs-21 text-green"></i>
                <span><small class="text-black">Possibilité d'étaler les paiements en 3 fois.</small></span>
              </li>

              <li class="list-group-item  align-items-center">
              <i class="icon-map-marker fs-21 text-green"></i>
                <span><small class="text-black">Campus de Pontoise.</small></span>
              </li>
            </ul>
                  
              </div>
              
              <a href="<%=hebdo3_path%>" class="card-footer bg-cooodit">
                  <strong class="text-white">TOUT SAVOIR </strong> 
                </a>
        </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </section>
  <!-- / features -->

  <!-- features -->
  <section class="bg-light separator-top separator-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2><u><small>Ateliers : <b>lycée</b></small></u></h2>
        </div>
      </div>
      <div class="row gutter-2 gutter-lg-4">
      <div class="col-md-12 col-lg-4 ">
      <div class="card card-price rising">
          <div class="card-body">
       
              <h5 class="card-title text-center"> <strong>Ateliers 2nd - 1ere - Term.</strong></h5>
              <br>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <ul class="list-group list-group-minimal">
              <li class="list-group-item  align-items-center">
                <i class="icon-calendar2 fs-21 text-orange"></i>
                <span><small class="text-black">Du mer. 22 jan. au merc. 24 juin.</small> </span>
              </li>
              
              <li class="list-group-item align-items-center">
                <i class="icon-clock fs-21 text-orange"></i>
                <span><small class="text-black">Les mardis de 17h30 à 19h00.</small> </span>
              </li>
              <li class="list-group-item align-items-center">
                <i class="icon-check-circle2 fs-21 text-orange"></i>
                <span><small class="text-black">Inscription ouverte jusqu’au 20 janvier 2020.</small></span>
              </li>
              <li class="list-group-item align-items-center">
                <i class="icon-money fs-21 text-orange"></i>
                <span><small class="text-black">Possibilité d'étaler les paiements en 3 fois.</small></span>
              </li>
              <li class="list-group-item align-items-center">
              <i class="icon-map-marker fs-21 text-orange"></i>
                <span><small class="text-black">Campus de Pontoise.</small></span>
              </li>
            </ul>
                
            </div>
            
            <a href="<%=hebdo4_path%>" class="card-footer bg-cooodit">
                <strong class="text-white">TOUT SAVOIR </strong> 
              </a>
      </div>
    </div>
    <div class="col-md-12 col-lg-4 ">
        <div class="card card-price rising">
            <div class="card-body bg-yellow2">
         
                <h5 class="card-title text-center"> <strong> Ateliers - Intelligence Artificielle.</strong></h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <ul class="list-group list-group-minimal">
              <li class="list-group-item  align-items-center">
                <i class="icon-calendar2 fs-21 text-orange"></i>
                <span><small class="text-black">Du mer. 22 jan. au merc. 24 juin.</small> </span>
              </li>
              
              <li class="list-group-item align-items-center">
                <i class="icon-clock fs-21 text-orange"></i>
                <span><small class="text-black">Les jeudis de 18h00 à 19h30.</small> </span>
              </li>
              <li class="list-group-item align-items-center">
                <i class="icon-check-circle2 fs-21 text-orange"></i>
                <span><small class="text-black">Inscription ouverte jusqu’au 20 janvier 2020.</small></span>
              </li>
              <li class="list-group-item align-items-center">
                <i class="icon-money fs-21 text-orange"></i>
                <span><small class="text-black">Possibilité d'étaler les paiements en 3 fois.</small></span>
              </li>
              <li class="list-group-item align-items-center">
              <i class="icon-map-marker fs-21 text-orange"></i>
                <span><small class="text-black">Campus de Pontoise.</small></span>
              </li>
            </ul>
                  
              </div>
              
              <a href="<%=hebdo5_path%>" class="card-footer bg-cooodit">
                  <strong class="text-white"> TOUT SAVOIR </strong> 
                </a>
        </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </section>
  <!-- / features -->




  <!-- partners -->
    <section class="separator-top">
      <div class="container">
        <div class="row">
          <div class="col partners align-items-center">
            <div class="owl-carousel" data-items="[6,4,2]" data-loop="true" data-autoplay="true">
              <div class="logo">
                <img src="../../assets/cooodit/logo-1.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-2.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-3.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-4.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-5.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-6.svg" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-7.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-8.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-9.png" alt="Logo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / partners -->
  <!-- pricing -->

<section class="bg-light pt-0 pattern"><br><br>
  <div class="container">
    <div class="row text-white">
      <div class="col text-center">
        <div class="nav nav-switch nav-pills bg-dark nav-lavalamp">
          <a class="nav-item nav-link active show" data-toggle="tab" href="#component-1-1">Primaire & Collège</a>
          <a class="nav-item nav-link" data-toggle="tab" href="#component-1-2">Lycée</a>
          
        </div>
      </div>
    </div>
    <div class="tab-content" id="component-1">
      <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
        <div class="row gutter-2">
          <div class="col-md-12 col-lg-4" >
            <div class="card card-price rising">
                
              <div class="card-body">
               
                <h5 class="card-title text-center"> <strong>Ateliers </strong><small>CE1 CE2 / CM1-CM2</small></h5> <br>
                <li class="list-group text-center"> <mark>Rentrée Janvier</mark> </li> <br>
                <ul class="list-group list-group-minimal text-muted">
                    <li class="list-group-item text-center"><i class="far fa-calendar-check text-teal"></i> <small> Inscription ouverte jusqu’au 31/12/2019.</small></li>
                  
                 
                </ul>
                <br>
                <ul class="list-group list-group-minimal list-group-flush">

                    <li class="list-group-item ">👩‍💻 <span class="bg-yellow2">Programmation</span></li>
                    <li class="list-group-item text-justify"> <small class="text-dark">L'apprentissage de la pensée informatique à l'aide de <mark>Scratch</mark> développé par le MIT pour que les enfants puissent aisément construire des algorithmes.</small></li>
                    <li class="list-group-item ">⚡<span class="bg-yellow2">Électronique</span></li>
                    <li class="list-group-item text-justify"> <small class="text-dark">Les enfants découvrent et manipulent des composants électroniques comme des capteurs, moteurs, leds et boutons pour réaliser des prototypes électroniques.</small></li>
                    <li class="list-group-item  ">🖼 <span class="bg-yellow2">Graphisme</span></li>
                    <li class="list-group-item text-justify"> <small class="text-dark">Familiarisation avec les   techniques de conception et modelisation des dessins graphique 3D et 2D avec des logiciels comme Piskel et 3dSlash.</small></li>
                    <li class="list-group-item  ">🎮 <span class="bg-yellow2">Jeu vidéo</span></b></li>
                    <li class="list-group-item text-justify"> <small class="text-dark">Création d'un jeu avec <span class="text-red">Scratch</span> résoudre des problèmes complexes. </small></li>
                    
                    
                  </ul>
                  <br><br>
                  <ul class="list-group list-group-minimal text-muted">
                    <small>
                    <li class="list-group-item text-center"><span class="text-teal">390 € </span></li>
                    <li class="list-group-item text-center"> 💳 Possibilité d'étaler les paiements en 3 fois</li>
                    <li class="list-group-item text-center">🕙 <b class="text-teal">Les mercredis de 14h00 à 15h30</b></li>
                    <li class="list-group-item text-center"><i class="far fa-calendar-check text-green"></i>  Inscription ouverte jusqu’au 31/12/2019.</li>
                  </small>
                  </ul>
              </div>
              
              <a href="https://cooodit.typeform.com/to/sLbWVh" class="card-footer bg-cooodit">
                  <strong class="text-white">J'inscris mon enfant </strong> 
                </a>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="card card-price rising">
                
              <div class="card-body">
               
                <h5 class="card-title text-center"><strong>Ateliers </strong> <small>6E - 5E </small></h5> <br>
                <li class="list-group text-center"> <mark>Rentrée Janvier</mark> </li> <br>
                <ul class="list-group list-group-minimal text-muted">
                  <li class="list-group-item text-center"></li>
                  <li class="list-group-item text-center"><i class="far fa-calendar-check text-teal"></i> <small> Inscription ouverte jusqu’au 31/12/2019.</small></li>
                  
                </ul>
                <br>
                <ul class="list-group list-group-minimal list-group-flush">
                  <li class="list-group-item ">👩‍💻 <span class="bg-yellow2">Programmation</span></li>
                    <li class="list-group-item text-justify"> <small class="text-dark">Initiation au code informatique à l'aide de <mark>Scratch</mark> et <mark>Minecraft</mark>. Réalisation de plusieurs animations. Création d'application mobile Android sous AppInventor.</small> </li>
                    <li class="list-group-item ">⚡<span class="bg-yellow2">Électronique</span></li>
                    <li class="list-group-item"><small class="text-dark">Apprenez à programmer votre microcontrôleur grace à la carte Arduino.</small></li>
                    <li class="list-group-item  ">🖼 <span class="bg-yellow2">Graphisme</span></li>
                    <li class="list-group-item"><small class="text-dark">Modelisation des dessins graphique 3D avec le logiciels 3dSlash.</small></li>
                    <li class="list-group-item  ">🎮 <span class="bg-yellow2">Jeu vidéo</span></b></li>
                    <li class="list-group-item"><small class="text-dark">Création d'un jeu vidéo en 2D avec <span class="text-red">Construct 2</span>.  </small></li>
                    
                  </ul>
                  <br><br><br><br><br><br>
                  <ul class="list-group list-group-minimal text-muted">
                    <small>
                      <li class="list-group-item text-center"><span class="text-teal">390 € </span></li>
                      <li class="list-group-item text-center"> 💳 Possibilité d'étaler les paiements en 3 fois</li>
                      <li class="list-group-item text-center">🕙 <b class="text-teal">Les mercredis de 15h45 à 17h15</b></li>
                      <li class="list-group-item text-center"><i class="far fa-calendar-check text-green"></i>  Inscription ouverte jusqu’au 31/12/2019.</li>
                    </small>
                    </ul>
              </div>
            
              <a href="https://cooodit.typeform.com/to/sLbWVh" class="card-footer bg-cooodit">
                  <strong class="text-white">J'inscris mon enfant</strong>
                </a>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="card card-price rising">
                
              <div class="card-body">
               
                <h5 class="card-title text-center"><strong>Ateliers </strong> <small>4E -3E</small></h5> <br>
                <li class="list-group text-center"> <mark>Rentrée Janvier</mark> </li> <br>
                <ul class="list-group list-group-minimal text-muted">
                  <li class="list-group-item text-center"></li>
                  <li class="list-group-item text-center"><i class="far fa-calendar-check text-teal"></i> <small> Inscription ouverte jusqu’au 31/12/2019.</small></li>
                </ul>
                <br>
                <ul class="list-group list-group-minimal list-group-flush">
                  <li class="list-group-item ">👩‍💻 <span class="bg-yellow2">Programmation</span></li>
                    <li class="list-group-item text-justify"><small class="text-dark">Développement en <mark>HTML & le CSS</mark>. Apprentissage des meilleures pratiques du développement front-end. Réalisation de plusieurs pages web.</small></li>
                    <li class="list-group-item ">⚡<span class="bg-yellow2">Électronique</span></li>
                    <li class="list-group-item text-justify"><small class="text-dark">Les enfants apprennent et réalisent des prototypes électroniques à l'aide de la carte Arduino.</small> </li>
                    <li class="list-group-item  ">🖼 <span class="bg-yellow2">Graphisme</span></li>
                    <li class="list-group-item text-justify"><small class="text-dark">Familiarisation avec les technique de conception et modelisation des dessins graphique 3D et 2D avec Piskel et 3dSlash.</small></li>
                    <li class="list-group-item  ">🎮 <span class="bg-yellow2">Jeu vidéo</span></b></li>
                    <li class="list-group-item text-justify"><small class="text-dark">Conception et de publication d'un jeu vidéo en 3D avec <span class="text-red">Roblox Studio</span>.</small> </li>
                    
                  </ul>
                  <br><br><br><br><br>
                  <ul class="list-group list-group-minimal text-muted">
                    <small>
                      <li class="list-group-item text-center"><span class="text-teal">450 € </span></li>
                      <li class="list-group-item text-center"> 💳 Possibilité d'étaler les paiements en 3 fois</li>
                      <li class="list-group-item text-center">🕙 <b class="text-teal">Les mercredis de 17h30 à 19h00</b></li>
                      <li class="list-group-item text-center"><i class="far fa-calendar-check text-green"></i>  Inscription ouverte jusqu’au 31/12/2019.</li>
                    </small>
                    </ul>
              </div>
              
              <a href="https://cooodit.typeform.com/to/sLbWVh" class="card-footer bg-cooodit">
                  <strong class="text-white">J'inscris mon enfant </strong>
                </a> 
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="component-1-2" role="tabpanel" aria-labelledby="component-1-2">
        <div class="row gutter-2">
          <div class="col-md-12 col-lg-6" >
            <div class="card card-price rising">
                
              <div class="card-body">
               
                <h5 class="card-title text-center"> <strong>Ateliers  </strong><small>2nd - 1ere - Term</small></h5><br>
                <li class="list-group text-center"> <mark>Rentrée Janvier</mark> </li> <br>
                

                
                <ul class="list-group list-group-minimal text-muted">
                  <li class="list-group-item text-center"></li>
                  <li class="list-group-item text-center"><i class="far fa-calendar-check text-teal"></i> <small> Inscription ouverte jusqu’au 31/12/2019.</small></li>
                  
                </ul>
                <br>
                <ul class="list-group list-group-minimal list-group-flush">
                    <li class="list-group-item ">💻 <span class="bg-yellow2">Packages essentiels du développeur</span></li>
                    <li class="list-group-item text-justify"><small class="text-dark">Vous installez sur votre ordinateur tous les outils qu'utilise un développeur web pour tout avoir sous la main pendant la formation.</small></li>
                    <li class="list-group-item text-justify"><small class="text-dark">Vous apprenez à utiliser votre Terminal et à gérer votre code avec Git et GitHub.</small></li>
                    <li class="list-group-item ">👩‍💻 <span class="bg-yellow2">Développement Front-end</span></li>
                    <li class="list-group-item text-justify"><small class="text-dark">Vous apprenez comment utiliser HTML5 et CSS3, les deux langages de programmation à la base de tous les sites web pour créer votre premier site web.</small></li>
                    <li class="list-group-item ">👩‍💻 <span class="bg-yellow2">Développement Back-end</span></li>
                    <li class="list-group-item text-justify"><small class="text-dark">Vous initiez à programmer avec le langage Ruby.</small> </li>
                    <li class="list-group-item text-justify"><small class="text-dark">Vous apprenez à coder votre première application Ruby on Rails. Mettez vos applications en production comme un vrai développeur web.</small> </li>
                    <li class="list-group-item  ">🎮 <span class="bg-yellow2">Jeu vidéo</span></b></li>
                    <li class="list-group-item text-justify"><small class="text-dark">Débutez et réaliser un Quizz Game avec le logiciel Unity.</small> </li>
                    <li class="list-group-item text-justify"><small class="text-dark">Débutez et créer votre premier jeux sous Python avec Pygame.</small> </li>
                    
                  </ul>
                  <br>
                  <ul class="list-group list-group-minimal text-muted"> 
                    <small>
                    <li class="list-group-item text-center"><span class="text-teal">490 € </span></li>
                    <li class="list-group-item text-center"> 💳 Possibilité d'étaler les paiements en 3 fois</li>
                    <li class="list-group-item text-center">🕙 <b class="text-teal">Les mardis de 17h30 à 19h00</b></li>
                    <li class="list-group-item text-center"><i class="far fa-calendar-check text-green"></i>  Inscription ouverte jusqu’au 31/12/2019.</li>
                    </small> 
                  </ul>
              </div>
              
              <a href="https://cooodit.typeform.com/to/sLbWVh" class="card-footer bg-teal">
                  <strong class="text-white">J'inscris mon enfant</strong>
                </a>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="card card-price rising">
                
              <div class="card-body">
                
                <h5 class="card-title text-center"><strong>Ateliers - Intelligence Artificielle </strong></h5><br>
                <li class="list-group text-center"> <mark> Rentrée Janvier</mark> </li> <br>
                <ul class="list-group list-group-minimal text-muted">
                  <li class="list-group-item text-center"><i class="far fa-calendar-check text-teal"></i> <small> Inscription ouverte jusqu’au 31/12/2019.</small></li>
                </ul>
                <br>
                <ul class="list-group list-group-minimal list-group-flush">
                    <li class="list-group-item text-justify"> 🐍 <small class="text-dark">Apprenez à coder en Python (Nous utiliserons les excellentes bibliothèques Scikit-learn, Pandas et Matplotlib), utiliser Git et netoyer vos DataSets (Data Cleaning).</small></li>
                    <li class="list-group-item text-justify"> 📊 <small class="text-dark">Apprenez à utiliser les outils de Data Visualisation pour bien comprendre votre base de données.</small></li>
                    <li class="list-group-item text-justify"> ☁ <small class="text-dark">Vous manipulerez de larges bases de données avec SQL et les connecterez entre elles sur des plateformes Cloud.</small></li>
                    <li class="list-group-item text-justify"> 🤖 <small class="text-dark">Apprenez à implémenter un modèle du Machine Learnning pour générer des prédictions.</small></li>
                    <li class="list-group-item text-justify"> 📓 <small class="text-dark">Réalisation d'un projet sur la thématique de votre choix en utilisant des algorithmes de Machine Learning en Python et les outils de Data Visualisation.</small></li>
                    
                  </ul>
                  <br><br>
                  <ul class="list-group list-group-minimal text-muted">
                    <small>
                    <li class="list-group-item text-center"><span class="text-teal">490 € </span></li>
                    <li class="list-group-item text-center"> 💳 Possibilité d'étaler les paiements en 3 fois</li>
                    <li class="list-group-item text-center">🕙 <b class="text-teal">Les jeudis de 18h00 à 19h30</b></li>
                    <li class="list-group-item text-center"><i class="far fa-calendar-check text-green"></i>  Inscription ouverte jusqu’au 31/12/2019.</li>
                    </small>
                  </ul>
              </div>
            
              <a href="https://cooodit.typeform.com/to/sLbWVh" class="card-footer bg-teal">
                  <strong class="text-white">J'inscris mon enfant</strong>
                </a>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / pricing -->