
<!-- hero -->
<section class="hero hero-with-header ">
<div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
        rgba(0, 0, 0, 0.3),
        #161c1d  ),url(../../assets/cooodit/cover-2.jpg)"></div>
    <div class="container ">
    
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-decorated text-white"> Nos ateliers<b class="text-"> hebdomadaires </b></h1>
          <p class="text-white text-justify"> Nous proposons 5 ateliers hebdomadaires adaptés à l’âge et au niveau de chaque participant, 1h30 d’atelier par semaine, du lundi au vendredi, de janvier à juin. </p>
          
        </div>
      </div>
    </div>    
  </section>
  <!-- / hero -->
  <!-- features -->
  <section class="bg-light separator-top separator-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2><u><small><b>Ateliers : primaire & collège</small></b></u></h2>
        </div>
      </div>
      <div class="row gutter-2 gutter-lg-4">
      <div class="col-md-12 col-lg-4 ">
      <div class="card card-price rising">
          <div class="card-body">
       
              <h5 class="card-title text-center"> <strong>Ateliers CE1 CE2 / CM1-CM2.</strong></h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <ul class="list-group list-group-minimal">
              <li class="list-group-item  align-items-center">
                <i class="icon-calendar2 fs-21 text-green"></i>
                <span><small class="text-black">Du mer. 22 jan. au merc. 24 juin.</small> </span>
              </li>
              <li class="list-group-item  align-items-center">
                <i class="icon-clock fs-21 text-green"></i>
                <span><small class="text-black">Les mercredis de 14h00 à 15h30.</small> </span>
              </li>
              <li class="list-group-item  align-items-center">
                <i class="icon-check-circle2 fs-21 text-green"></i>
                <span><small class="text-black">Inscription ouverte jusqu’au 20 janvier 2020.</small></span>
              </li>
              <li class="list-group-item  align-items-center">
                <i class="icon-money fs-21 text-green"></i>
                <span><small class="text-black">Possibilité d'étaler les paiements en 3 fois.</small></span>
              </li>
              <li class="list-group-item  align-items-center">
              <i class="icon-map-marker fs-21 text-green"></i>
                <span><small class="text-black">Campus de Pontoise.</small></span>
              </li>
            </ul>
          
            </div>
            
            <a href="<%=hebdo1_path%>" class="card-footer bg-cooodit">
                <strong class="text-white">TOUT SAVOIR </strong> 
              </a>
      </div>
    </div>
    <div class="col-md-12 col-lg-4 ">
        <div class="card card-price rising">
            <div class="card-body bg-yellow2">
         
                <h5 class="card-title text-center"> <strong> Ateliers 6E - 5E.</strong></h5>
                <br>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <ul class="list-group list-group-minimal">
              <li class="list-group-item  align-items-center">
                <i class="icon-calendar2 fs-21 text-green"></i>
                <span><small class="text-black">Du mer. 22 jan. au merc. 24 juin.</small> </span>
              </li>
             
              <li class="list-group-item align-items-center">
                <i class="icon-clock fs-21 text-green"></i>
                <span><small class="text-black">Les mercredis de 15h45 à 17h15.</small> </span>
              </li>
              <li class="list-group-item align-items-center">
                <i class="icon-check-circle2 fs-21 text-green"></i>
                <span><small class="text-black">Inscription ouverte jusqu’au 20 janvier 2020.</small></span>
              </li>
              <li class="list-group-item  align-items-center">
                <i class="icon-money fs-21 text-green"></i>
                <span><small class="text-black">Possibilité d'étaler les paiements en 3 fois.</small></span>
              </li>
              <li class="list-group-item  align-items-center">
              <i class="icon-map-marker fs-21 text-green"></i>
                <span><small class="text-black">Campus de Pontoise.</small></span>
              </li>
            </ul>
                  
              </div>
              
              <a href="<%=hebdo2_path%>" class="card-footer bg-cooodit">
                  <strong class="text-white">TOUT SAVOIR </strong> 
                </a>
        </div>
    </div>
    <div class="col-md-12 col-lg-4 ">
        <div class="card card-price rising">
            <div class="card-body ">
         
                <h5 class="card-title text-center"> <strong> Ateliers 4E - 3E.</strong></h5>
                <br>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <ul class="list-group list-group-minimal">
              <li class="list-group-item  align-items-center">
                <i class="icon-calendar2 fs-21 text-green"></i>
                <span><small class="text-black">Du mer. 22 jan. au merc. 24 juin.</small> </span>
              </li>
              
              <li class="list-group-item  align-items-center">
                <i class="icon-clock fs-21 text-green"></i>
                <span><small class="text-black">Les mercredis de 17h30 à 19h00.</small> </span>
              </li>
              <li class="list-group-item align-items-center">
                <i class="icon-check-circle2 fs-21 text-green"></i>
                <span><small class="text-black">Inscription ouverte jusqu’au 20 janvier 2020.</small></span>
              </li>
              <li class="list-group-item align-items-center">
                <i class="icon-money fs-21 text-green"></i>
                <span><small class="text-black">Possibilité d'étaler les paiements en 3 fois.</small></span>
              </li>

              <li class="list-group-item  align-items-center">
              <i class="icon-map-marker fs-21 text-green"></i>
                <span><small class="text-black">Campus de Pontoise.</small></span>
              </li>
            </ul>
                  
              </div>
              
              <a href="<%=hebdo3_path%>" class="card-footer bg-cooodit">
                  <strong class="text-white">TOUT SAVOIR </strong> 
                </a>
        </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </section>
  <!-- / features -->

  <!-- features -->
  <section class="bg-light separator-top separator-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2><u><small><b>Ateliers : lycée</b></small></u></h2>
        </div>
      </div>
      <div class="row gutter-2 gutter-lg-4">
      <div class="col-md-12 col-lg-4 ">
      <div class="card card-price rising">
          <div class="card-body">
       
              <h5 class="card-title text-center"> <strong>Ateliers 2nd - 1ere - Term.</strong></h5>
              <br>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <ul class="list-group list-group-minimal">
              <li class="list-group-item  align-items-center">
                <i class="icon-calendar2 fs-21 text-orange"></i>
                <span><small class="text-black">Du mer. 22 jan. au merc. 24 juin.</small> </span>
              </li>
              
              <li class="list-group-item align-items-center">
                <i class="icon-clock fs-21 text-orange"></i>
                <span><small class="text-black">Les mardis de 17h30 à 19h00.</small> </span>
              </li>
              <li class="list-group-item align-items-center">
                <i class="icon-check-circle2 fs-21 text-orange"></i>
                <span><small class="text-black">Inscription ouverte jusqu’au 20 janvier 2020.</small></span>
              </li>
              <li class="list-group-item align-items-center">
                <i class="icon-money fs-21 text-orange"></i>
                <span><small class="text-black">Possibilité d'étaler les paiements en 3 fois.</small></span>
              </li>
              <li class="list-group-item align-items-center">
              <i class="icon-map-marker fs-21 text-orange"></i>
                <span><small class="text-black">Campus de Pontoise.</small></span>
              </li>
            </ul>
                
            </div>
            
            <a href="<%=hebdo4_path%>" class="card-footer bg-cooodit">
                <strong class="text-white">TOUT SAVOIR </strong> 
              </a>
      </div>
    </div>
    <div class="col-md-12 col-lg-4 ">
        <div class="card card-price rising">
            <div class="card-body bg-yellow2">
         
                <h5 class="card-title text-center"> <strong> Ateliers - Intelligence Artificielle.</strong></h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <ul class="list-group list-group-minimal">
              <li class="list-group-item  align-items-center">
                <i class="icon-calendar2 fs-21 text-orange"></i>
                <span><small class="text-black">Du mer. 22 jan. au merc. 24 juin.</small> </span>
              </li>
              
              <li class="list-group-item align-items-center">
                <i class="icon-clock fs-21 text-orange"></i>
                <span><small class="text-black">Les jeudis de 18h00 à 19h30.</small> </span>
              </li>
              <li class="list-group-item align-items-center">
                <i class="icon-check-circle2 fs-21 text-orange"></i>
                <span><small class="text-black">Inscription ouverte jusqu’au 20 janvier 2020.</small></span>
              </li>
              <li class="list-group-item align-items-center">
                <i class="icon-money fs-21 text-orange"></i>
                <span><small class="text-black">Possibilité d'étaler les paiements en 3 fois.</small></span>
              </li>
              <li class="list-group-item align-items-center">
              <i class="icon-map-marker fs-21 text-orange"></i>
                <span><small class="text-black">Campus de Pontoise.</small></span>
              </li>
            </ul>
                  
              </div>
              
              <a href="<%=hebdo5_path%>" class="card-footer bg-cooodit">
                  <strong class="text-white"> TOUT SAVOIR </strong> 
                </a>
        </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </section>
  <!-- / features -->

  <div class="courses-container">
	<div class="course">
		<div class="course-preview">
			<h6>Course</h6>
			<h2>JavaScript Fundamentals</h2>
			<a href="#">View all chapters <i class="fas fa-chevron-right"></i></a>
		</div>
		<div class="course-info">
			<div class="progress-container">
				<div class="progress"></div>
				<span class="progress-text">
					6/9 Challenges
				</span>
			</div>
			<h6>Chapter 4</h6>
			<h2>Callbacks & Closures</h2>
			<button class="btntest">Continue</button>
		</div>
	</div>
</div>

  <!-- partners -->
    <section class="separator-top">
      <div class="container">
        <div class="row">
          <div class="col partners align-items-center">
            <div class="owl-carousel" data-items="[6,4,2]" data-loop="true" data-autoplay="true">
              <div class="logo">
                <img src="../../assets/cooodit/logo-1.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-2.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-3.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-4.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-5.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-6.svg" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-7.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-8.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-9.png" alt="Logo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / partners -->