<!DOCTYPE html>
<html>
  <head>
    <title>Cooodit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="0bf1dfe3-5a78-448b-9171-fbdb49528df6";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  </head>

  <body>
      <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render 'layouts/popupContact' %>
    <%= render 'layouts/popupProgram' %>
    <%= render 'layouts/footer' %>
  </body>
  <script src="https://kit.fontawesome.com/2b6f635bf2.js"></script>

  
  
</html>
