<!DOCTYPE html>
<html>
  <head>
    <title>Cooodit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render 'layouts/popupContact' %>
    <%= render 'layouts/popupProgram' %>
    <%= render 'layouts/footer' %>
  </body>
  <script src="https://kit.fontawesome.com/2b6f635bf2.js"></script>

  
  
</html>
